* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
    color: #36454F;

    padding: 1rem;
}

body > a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

body > a {
    min-width: 100%;

    padding: 0.5rem;
}

body > a > img {
    max-width: 1.5rem;
}

body > a:link {
    opacity: 0.5;
}

body > a:hover {
    opacity: 0.7;
    background-image: linear-gradient(to right, rgba(169, 169, 169, 0), rgba(169, 169, 169, 0.7), 
    rgba(169, 169, 169, 0));
}

body > a:active {
    opacity: 0.8;
    background-image: linear-gradient(to right, rgba(169, 169, 169, 0), rgba(169, 169, 169, 0.8), 
    rgba(169, 169, 169, 0));
}

body > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

body > div > img {
    max-width: 12%;
}