<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/style.css') }}">
    <title>Home</title>
</head>
<body>
    <div>
        <span>
            <span>let everything happen to you,</span>
            <br>
            <span>beauty and terror,</span>
            <br>
            <span>just keep going,</span>
            <br>
            <span>no feeling is final.</span>
        </span>

        <image src="{{ url_for('static', filename = 'images/10481888.svg') }}" alt="Anime-Girl">
    </div>

    <a href = "/form">check</a>

    <div>
        <img src="{{ url_for('static', filename = 'images/10481898.svg') }}" alt="">

        <span>
            <span>In the canvas of data, a mosaic we create,</span>
            <br>
            <span>Gathering life's hues, from early to late.</span>
            <br>
            <span>Cholesterol's whispers, blood's rhythmic flow,</span>
            <br>
            <span>Lifestyle's brushstrokes, in patterns they grow.</span>
            <br>
            <span>Algorithms sculpt, a predictive art,</span>
            <br>
            <span>Heart's future revealed, a masterpiece to impart.</span>
        </span>
    </div>



</body>
</html>